<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#dorama-list">Destaques</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="/index.html">Ir para Catálogo</a></li>
        </ul>
    </nav>
</header>

<section id="hero">
    <div class="hero-content">
        <h1>Bem-vindo ao Catálogo de Doramas</h1>
        <p>Explore os melhores doramas e descubra novos favoritos!</p>
        <a href="/index.html" class="button">Ver Catálogo</a>
    </div>
</section>

<section id="dorama-list">
    <h2>Destaques</h2>
    <div class="dorama-carousel">
        <div class="dorama-item">
            <img src="/images/alquimia-1tem.png" alt="Dorama 1">
            <h2>Alchemy of Souls</h2>
            <p>Uma jovem feiticeira está presa em um corpo de uma mulher
                comum e deve ajudar a resolver mistérios enquanto busca
                restaurar seu corpo original.</p>
            <a href="http://localhost:8080/dorama/2" class="button">Ver Detalhes</a>
        </div>
        <div class="dorama-item">
            <img src="/images/alquimia-das-almas-2tem.png" alt="Dorama 2">
            <h2>Alchemy of Souls 2</h2>
            <p>Jang Uk retorna dos mortos como caçador de almas invasoras. A feiticeira Naksu reaparece sem memórias, presa em um corpo que não é o seu.</p>
            <a href="http://localhost:8080/dorama/58" class="button">Ver Detalhes</a>
        </div>
        <div class="dorama-item">
            <img src="/images/happiness.png" alt="Dorama 3">
            <h2>Happiness</h2>
            <p>Em uma sociedade que enfrenta uma nova forma de pandemia, um grupo de residentes de um complexo de apartamentos luta pela sobrevivência.</p>
            <a href="http://localhost:8080/dorama/8" class="button">Ver Detalhes</a>
        </div>
        <div class="dorama-item">
            <img src="/images/vincenzo2.png" alt="Dorama 4">
            <h2>Vincenzo</h2>
            <p>Um advogado italiano com laços com a máfia retorna à Coreia do Sul e se envolve em uma batalha contra um conglomerado corrupto.</p>
            <a href="http://localhost:8080/dorama/6" class="button">Ver Detalhes</a>
        </div>
        <div class="dorama-item">
            <img src="/images/my-demon.png" alt="Dorama 5">
            <h2>My demon</h2>
            <p>Um demônio impiedoso perde os poderes depois de se envolver com uma poderosa herdeira. Mas é bem possível que ela seja a peça que faltava na vida dele.</p>
            <a href="http://localhost:8080/dorama/16" class="button">Ver Detalhes</a>
        </div>
        <div class="dorama-item">
            <img src="/images/meteor-garden.png" alt="Dorama 6">
            <h2>Meteor Garden</h2>
            <p>Shan Cai é uma estudante de origem humilde que ingressa em uma universidade de elite e cruza caminho com o F4</p>
            <a href="http://localhost:8080/dorama/78" class="button">Ver Detalhes</a>
        </div>
        <div class="dorama-item">
            <img src="/images/hidden-love.png" alt="Dorama 7">
            <h2>Hidden love</h2>
            <p>Sang Zhi, uma adolescente que se apaixona por Duan Jiaxu, um colega de faculdade do seu irmão mais velho que tem sete anos mais do que ela.</p>
            <a href="http://localhost:8080/dorama/91" class="button">Ver Detalhes</a>
        </div>
        <div class="dorama-item">
            <img src="/images/the-penthouse.png" alt="Dorama 8">
            <h2>The Penthouse - War in Life</h2>
            <p>Um drama de alta tensão que explora a vida luxuosa e cheia de intrigas dos moradores de uma cobertura em uma das áreas mais exclusivas de Seul.</p>
            <a href="http://localhost:8080/dorama/18" class="button">Ver Detalhes</a>
        </div>
    </div>
</section>

<section id="sobre">
    <h2>Sobre</h2>
    <p>Este site é dedicado a todas as pessoas que, assim como eu, são apaixonadas por séries coreanas e chinesas, nossos
        adorados doramas. Foi desenvolvido durante meu tempo livre, com muito carinho e dedicação. Os doramas listados
        aqui são aqueles que eu já assisti e que, de alguma forma, marcaram minha jornada como fã.
        No catálogo, você encontrará informações detalhadas sobre cada dorama, incluindo uma breve sinopse sem spoilers,
        o elenco principal, o gênero da série, onde assisti-la e a quantidade total de episódios. Espero que você
        encontre novas histórias para se apaixonar e aproveite sua visita!</p>
</section>

<section id="contato">
    <h2>Contato</h2>
    <p></p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/thayssa-miguel-mortari-lima-2aaa83241/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/thaymml" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    </div>
</section>

<footer>
    <p>&copy; 2024 Catálogo de Doramas. Todos os direitos reservados.</p>
</footer>
<script>
    $(document).ready(function(){
        $('.dorama-carousel').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            dots: true,
            arrows: true,
            autoplay: true,
            autoplaySpeed: 3000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
</body>
</html>